{{#each burger}}
    <container id="resultsContainer" class="card w-80 ml-3 mt-3 bg-warning shadow-xl">
        <figure><img src="{{image}}" alt="burger" class="mt-2 rounded"/></figure>
        <div class="card-body">
          <h2 class="card-title">{{name}}</h2>
          <p class="text-secondary">{{description}}</p>
          <a href="{{recipe}}" target="_blank"><p class="text-third">View online recipe.</p></a>
          <div class="card-actions justify-end">
            <button class="btn btn-primary" name="{{id}}">Save Recipe</button>
          </div>
        </div>
    </container>
        {{/each}}
    <script src="./js/results.js"></script>